@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700,900");

html, body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

.name {
    line-height: 1.25;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.text-gray {
    color: #586069;
}

.bg-gray-light {
    background-color: #fafbfc;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 24px;
    color: #586069;
}

.gutter-condensed {
    margin-right: -8px;
    margin-left: -8px;
}

.gutter-condensed>[class*="col-"] {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

@media (min-width: 768px) {
    .section-border-top {
        border-top: unset !important;
    }

    .section-border-right {
        border-right: 1px #e1e4e8 solid;
    }
}

.section-border-top {
    border-top: 1px #e1e4e8 solid;
}

.project {
    padding: 20px !important;
}

.project, .topic {
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none !important;
    text-align: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px #e1e4e8 solid;
    background-color: #fff;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.project:hover, .topic:hover {
    box-shadow: 0 0 10px 0 rgba(127, 127, 127, 0.2);
    transform: scale(1.05);
    text-decoration: none !important;
}

.project img, .topic img {
    height: 64px;
    width: 64px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    position: relative;
    top: 0;
}

.project img {
    border-radius: 8px !important;
}

.project p, .topic p {
    line-height: 1.25;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 0;
    color: #24292e;
}

.modal h2 {
    margin-bottom: 1rem;
}

.social a {
    padding: 5px;
}

.social img {
    height: 32px;
    width: 32px;
    transition: all 350ms ease;
}

.social a:hover img {
    transform: translateY(-6px);
}