@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700,900");

html, body {
    height: 100%;
    font-family:'Rubik', sans-serif
}

.project, .topic {
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none !important;
    text-align: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px #e1e4e8 solid;
    background-color: #fff;
    cursor: pointer;
    transition: all 350ms ease;
}

.project {
    padding: 20px !important;
}

.project:hover, .topic:hover {
    box-shadow: 0 0 10px 0 rgba(127, 127, 127, 0.2);
    transform: scale(1.025);
    text-decoration: none !important;
}

.project img, .topic img {
    height: 64px;
    width: 64px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    transition: all .15s ease;
    position: relative;
    top: 0;
}

.project img {
    border-radius: 8px !important;
}

.project:hover img, .topic:hover img {
    transform: translateY(-3px);
}

.project p, .topic p {
    line-height: 1.25;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 0;
    color: #24292e;
}

.modal h2 {
    margin-bottom: 1rem;
}

.social a {
    padding: 5px;
}

.social img {
    height: 32px;
    width: 32px;
    transition: all 350ms ease;
}

.social a:hover img {
    transform: translateY(-6px);
}